:root {
 

    --radius: max(1300px, 100vw);
    --circ: calc(var(--radius) * 3.14);
    --segments-x: 37;
    --segments-y: 37;
  
    --sphere-rotation-y: 0;
    --sphere-rotation-x: 0;
  
    --offset-x: 0;
    --offset-y: 0;
  
    --rot-y: calc((360deg / var(--segments-x)) / 2);
  

    --rot-x: calc((360deg / var(--segments-y)) / 2);
  
    --rot-y-delta: 0deg;
  
    --item-width: calc((var(--circ) / var(--segments-x)));
    --item-height: calc((var(--circ) / var(--segments-y)));
  
    --item-size-x: 1;
    --item-size-y: 1;
  
    
    --gradient: radial-gradient(
      var(--gradient-center) 50%,
      var(--gradient-edge) 90%
    );
  
    --gradient-blur: radial-gradient(
      var(--gradient-center) 70%,
      var(--gradient-edge) 90%
    );
  
    
    --bg-scrim: rgba(0, 0, 0, 0.6);
    
    --bg: rgb(235, 235, 235);
    --item-bg: rgb(225, 225, 225);
    --gradient-center: rgba(235, 235, 235, 0);
    --gradient-edge: rgba(235, 235, 235, 0.5);
  
    --bg-scrim: rgba(0, 0, 0, 0.4);
  
    --gradient: radial-gradient(
      var(--gradient-center) 65%,
      var(--gradient-edge) 100%
    );
    

  
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  body,
  html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
  }
  
  main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    touch-action: none;
  
    * {
      touch-action: none;
    }
  }
  
  .stage {
    perspective: calc(var(--radius) * 2);
  }
  
  .sphere {
    transform: translateZ(calc(var(--radius) * -1))
      rotateY(var(--sphere-rotation-y)) rotateX(var(--sphere-rotation-x));
    transform-style: preserve-3d;
    gap: 20px;
  }
  
  .overlay {
    background-image: var(--gradient);
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 3;
    content: "";
    pointer-events: none;
    opacity: 1;
  }
  
  .overlay--blur {
    mask-image: var(--gradient-blur);
    backdrop-filter: blur(3px);
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 3;
    opacity: 1;
  
    content: "";
    pointer-events: none;
  }
  
  
  
  * {

    transform-style: preserve-3d;
  }
  
  iframe {
    border: 0;
  }
  
  .iframe-wrap {
    height: 52px;
    overflow: hidden;
    width: 100%;
  }
  
  .item__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
 
    pointer-events: none;
    backface-visibility: hidden;
  }
  
  .item__image {
    position: absolute;
    display: block;
    inset: 10px;
    border-radius: 12px;
    background-color: var(--item-bg);
    overflow: hidden;
    backface-visibility: hidden;
  }
  
  input {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1000px;
    z-index: 3;
    opacity: 0;
  }
  
  input:hover {
    opacity: 1;
  }
  
  
  
  .viewer {
    position: absolute;
    inset: 0;
    z-index: 9;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }
  
  .viewer .frame {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 32px;
    display: flex;
  }
  
  .viewer .enlarge {
    position: absolute;
    z-index: 1;
    border-radius: 32px;
    overflow: hidden;
    transition: opacity 300ms;
  }
  
  .viewer .enlarge img {
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .viewer .scrim {
    position: absolute;
    inset: 0;
    background-color: var(--bg-scrim);
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms;
    backdrop-filter: blur(3px);
  }
  
  [data-enlarging="true"] .scrim {
    opacity: 1;
    pointer-events: all;
  }
  
  @media (max-aspect-ratio: 1/1) {
    .viewer .frame {
      height: auto;
      width: 100%;
    }
  }

  .item {
    width: calc(var(--item-width) * var(--item-size-x));
    height: calc(var(--item-height) * var(--item-size-y));
    position: absolute;
    transform-origin: 50% 50%;
    top: -999px;
    bottom: -999px;
    left: -999px;
    right: -999px;
    margin: auto;
    backface-visibility: hidden;
    color: transparent;
    transform-style: preserve-3d;
    transition: transform 300ms;
    transform: rotateY(
        calc(
          var(--rot-y) * (var(--offset-x) + ((var(--item-size-x) - 1) / 2)) +
            var(--rot-y-delta, 0deg)
        )
      )
      rotateX(
        calc(
          calc(var(--rot-x) * (var(--offset-y) - ((var(--item-size-y) - 1) / 2))) +
            var(--rot-x-delta, 0deg)
        )
      )
      translateZ(var(--radius));
  }
  
  .item__image {
    transition: transform 300ms;
  }
  
  
  
  @for $x from 1 through 4 {
    @for $y from 1 through 4 {
      .item[data-item-size="#{$x},#{$y}"] {
        --item-size-x: #{$x};
        --item-size-y: #{$y};
      }
    }
  }